# https://clang.llvm.org/docs/ClangFormat.html

BasedOnStyle:  LLVM

ColumnLimit:     120
BreakStringLiterals: false

AllowShortFunctionsOnASingleLine: All

AlwaysBreakTemplateDeclarations: true

# func_name(
#     "0123456789"
#     "ABCD");
AlwaysBreakBeforeMultilineStrings: true

AlignEscapedNewlines: Left

IndentWidth:     4
InsertBraces:    true
InsertNewlineAtEOF: true
LineEnding:      CRLF
NamespaceIndentation: All
PointerAlignment: Left

# class foo {
# private:
#     int m;
# };
IndentAccessModifiers: false
AccessModifierOffset: -4

IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true

ReflowComments: false
